

<h1>Welcome <%= current_user.email %></h1>
<p>Upon development of the site this will include things like Account setting and access to editing pages.</p>
<p>This is built based on the needs of the site. So to start it has the basic of just a login and log out.</p>
